.App {
  text-align: center;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.numbers-list .numbers-list__item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  cursor: pointer;
  margin-bottom: 40px;
}